@page
@using Devblog.Domain.Model;
@model Devblog.Pages.Posts.CreatePostModel
@{
    ViewData["Title"] = "Create Post";
}

<h2>Create Post</h2>

<form method="post" class="mb-4">
    <div class="mb-3">
        <label for="Title" class="form-label">Title:</label>
        <input type="text" asp-for="Title" class="form-control" id="Title" placeholder="Enter post title" />
    </div>

    <div class="mb-3">
        <label for="Reference" class="form-label">Reference:</label>
        <input type="text" asp-for="Reference" class="form-control" id="Reference" placeholder="Enter post reference" />
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" asp-for="IsBlog" class="form-check-input" id="IsBlog" />
        <label class="form-check-label" for="IsBlog">Is BlogPost?</label>
    </div>

    <div class="mb-3">
        <label for="Content" class="form-label">Content:</label>
        <textarea asp-for="Content" class="form-control" id="Content" rows="5" placeholder="Write your content here"></textarea>
    </div>

    <div class="mb-3">
        <label for="Tags" class="form-label">Tags:</label>
        <select id="Tags" class="form-control selectpicker" data-live-search="true" asp-for="SelectedTagIds">
            @foreach (Tag tag in Model.AvailableTags)
            {
                <option value="@tag.Id">@tag.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Post</button>
</form>

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
</script>